/* @import "./tutor-icon.min.css"; */
@import "./tutor.min.css";
@import "./tutor-front.min.css";

/* @import "./woocommerce-layout.css"; */
/* @import id="woocommerce-smallscreen-css"./woocommerce-smallscreen.css" media="only screen and (max-width: 768px)"> */
/* @import "./woocommerce.css"; */

@import "./bdevs-element.css";
/* @import "./css2"; */
@import "./bootstrap.min.css";
@import "./animate.min.css";
@import "./custom-animation.css";
@import "./magnific-popup.css";
/* @import "./fontAwesome5Pro.css"; */
@import "./meanmenu.css";
/* @import "./flaticon.css"; */
/* @import "./nice-select.css"; */
/* @import "./venobox.min.css"; */
@import "./backToTop.css";
/* @import "./slick.css"; */
/* @import "./owl.carousel.min.css"; */
@import "./swiper-bundle.css";
@import "./default.css";
@import "./visapass-core.css";
@import "./visapass-unit.css";
@import "./style.css";
@import "./responsive.css";
@import "./visapass-custom.css";

/* @import "./elementor-icons.min.css"; */
@import "./frontend-lite.min.css";

/* @import "./swiper.min.css"; */
/* @import "./all.min.css"; */
/* @import "./v4-shims.min.css"; */
/* @import "./css"; */
/* @import "./fontawesome.min.css"; */
/* @import "./solid.min.css"; */
.wp-block-audio figcaption {
  color: #555;
  font-size: 13px;
  text-align: center;
}
.is-dark-theme .wp-block-audio figcaption {
  color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-audio {
  margin: 0 0 1em;
}
.wp-block-code {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo, Consolas, monaco, monospace;
  padding: 0.8em 1em;
}
.wp-block-embed figcaption {
  color: #555;
  font-size: 13px;
  text-align: center;
}
.is-dark-theme .wp-block-embed figcaption {
  color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-embed {
  margin: 0 0 1em;
}
.blocks-gallery-caption {
  color: #555;
  font-size: 13px;
  text-align: center;
}
.is-dark-theme .blocks-gallery-caption {
  color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-image figcaption {
  color: #555;
  font-size: 13px;
  text-align: center;
}
.is-dark-theme .wp-block-image figcaption {
  color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-image {
  margin: 0 0 1em;
}
.wp-block-pullquote {
  border-bottom: 4px solid;
  border-top: 4px solid;
  color: currentColor;
  margin-bottom: 1.75em;
}
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
  color: currentColor;
  font-size: 0.8125em;
  font-style: normal;
  text-transform: uppercase;
}
.wp-block-quote {
  border-left: 0.25em solid;
  margin: 0 0 1.75em;
  padding-left: 1em;
}
.wp-block-quote cite,
.wp-block-quote footer {
  color: currentColor;
  font-size: 0.8125em;
  font-style: normal;
  position: relative;
}
.wp-block-quote.has-text-align-right {
  border-left: none;
  border-right: 0.25em solid;
  padding-left: 0;
  padding-right: 1em;
}
.wp-block-quote.has-text-align-center {
  border: none;
  padding-left: 0;
}
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-plain {
  border: none;
}
.wp-block-search .wp-block-search__label {
  font-weight: 700;
}
.wp-block-search__button {
  border: 1px solid #ccc;
  padding: 0.375em 0.625em;
}
:where(.wp-block-group.has-background) {
  padding: 1.25em 2.375em;
}
.wp-block-separator.has-css-opacity {
  opacity: 0.4;
}
.wp-block-separator {
  border: none;
  border-bottom: 2px solid;
  margin-left: auto;
  margin-right: auto;
}
.wp-block-separator.has-alpha-channel-opacity {
  opacity: 1;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: 100px;
}
.wp-block-separator.has-background:not(.is-style-dots) {
  border-bottom: none;
  height: 1px;
}
.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
  height: 2px;
}
.wp-block-table {
  margin: 0 0 1em;
}
.wp-block-table td,
.wp-block-table th {
  word-break: normal;
}
.wp-block-table figcaption {
  color: #555;
  font-size: 13px;
  text-align: center;
}
.is-dark-theme .wp-block-table figcaption {
  color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-video figcaption {
  color: #555;
  font-size: 13px;
  text-align: center;
}
.is-dark-theme .wp-block-video figcaption {
  color: hsla(0, 0%, 100%, 0.65);
}
.wp-block-video {
  margin: 0 0 1em;
}
.wp-block-template-part.has-background {
  margin-bottom: 0;
  margin-top: 0;
  padding: 1.25em 2.375em;
}

.wp-block-button__link {
  color: #fff;
  background-color: #32373c;
  border-radius: 9999px;
  box-shadow: none;
  text-decoration: none;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  font-size: 1.125em;
}
.wp-block-file__button {
  background: #32373c;
  color: #fff;
  text-decoration: none;
}
body {
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
    135deg,
    rgba(252, 185, 0, 1) 0%,
    rgba(255, 105, 0, 1) 100%
  );
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(
    135deg,
    rgba(255, 105, 0, 1) 0%,
    rgb(207, 46, 46) 100%
  );
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(
    135deg,
    rgb(238, 238, 238) 0%,
    rgb(169, 184, 195) 100%
  );
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
    135deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
  --wp--preset--gradient--blush-light-purple: linear-gradient(
    135deg,
    rgb(255, 206, 236) 0%,
    rgb(152, 150, 240) 100%
  );
  --wp--preset--gradient--blush-bordeaux: linear-gradient(
    135deg,
    rgb(254, 205, 165) 0%,
    rgb(254, 45, 45) 50%,
    rgb(107, 0, 62) 100%
  );
  --wp--preset--gradient--luminous-dusk: linear-gradient(
    135deg,
    rgb(255, 203, 112) 0%,
    rgb(199, 81, 192) 50%,
    rgb(65, 88, 208) 100%
  );
  --wp--preset--gradient--pale-ocean: linear-gradient(
    135deg,
    rgb(255, 245, 203) 0%,
    rgb(182, 227, 212) 50%,
    rgb(51, 167, 181) 100%
  );
  --wp--preset--gradient--electric-grass: linear-gradient(
    135deg,
    rgb(202, 248, 128) 0%,
    rgb(113, 206, 126) 100%
  );
  --wp--preset--gradient--midnight: linear-gradient(
    135deg,
    rgb(2, 3, 129) 0%,
    rgb(40, 116, 252) 100%
  );
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--spacing--20: 0.44rem;
  --wp--preset--spacing--30: 0.67rem;
  --wp--preset--spacing--40: 1rem;
  --wp--preset--spacing--50: 1.5rem;
  --wp--preset--spacing--60: 2.25rem;
  --wp--preset--spacing--70: 3.38rem;
  --wp--preset--spacing--80: 5.06rem;
  --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
  --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1),
    6px 6px rgba(0, 0, 0, 1);
  --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
}
:where(.is-layout-flex) {
  gap: 0.5em;
}
:where(.is-layout-grid) {
  gap: 0.5em;
}
body .is-layout-flow > .alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}
body .is-layout-flow > .alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}
body .is-layout-flow > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}
body .is-layout-constrained > .alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}
body .is-layout-constrained > .alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}
body .is-layout-constrained > .aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}
body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto !important;
  margin-right: auto !important;
}
body .is-layout-constrained > .alignwide {
  max-width: var(--wp--style--global--wide-size);
}
body .is-layout-flex {
  display: flex;
}
body .is-layout-flex {
  flex-wrap: wrap;
  align-items: center;
}
body .is-layout-flex > * {
  margin: 0;
}
body .is-layout-grid {
  display: grid;
}
body .is-layout-grid > * {
  margin: 0;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2em;
}
:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25em;
}
.has-black-color {
  color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-color {
  color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-color {
  color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-color {
  color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-color {
  color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-color {
  color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-color {
  color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-color {
  color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-color {
  color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-color {
  color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-color {
  color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-color {
  color: var(--wp--preset--color--vivid-purple) !important;
}
.has-black-background-color {
  background-color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-background-color {
  background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-background-color {
  background-color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-background-color {
  background-color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-background-color {
  background-color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-background-color {
  background-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-background-color {
  background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-background-color {
  background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-background-color {
  background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-background-color {
  background-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-black-border-color {
  border-color: var(--wp--preset--color--black) !important;
}
.has-cyan-bluish-gray-border-color {
  border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}
.has-white-border-color {
  border-color: var(--wp--preset--color--white) !important;
}
.has-pale-pink-border-color {
  border-color: var(--wp--preset--color--pale-pink) !important;
}
.has-vivid-red-border-color {
  border-color: var(--wp--preset--color--vivid-red) !important;
}
.has-luminous-vivid-orange-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}
.has-luminous-vivid-amber-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}
.has-light-green-cyan-border-color {
  border-color: var(--wp--preset--color--light-green-cyan) !important;
}
.has-vivid-green-cyan-border-color {
  border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}
.has-pale-cyan-blue-border-color {
  border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}
.has-vivid-cyan-blue-border-color {
  border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}
.has-vivid-purple-border-color {
  border-color: var(--wp--preset--color--vivid-purple) !important;
}
.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
  background: var(
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple
  ) !important;
}
.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
  background: var(
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan
  ) !important;
}
.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
  background: var(
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange
  ) !important;
}
.has-luminous-vivid-orange-to-vivid-red-gradient-background {
  background: var(
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red
  ) !important;
}
.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
  background: var(
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray
  ) !important;
}
.has-cool-to-warm-spectrum-gradient-background {
  background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}
.has-blush-light-purple-gradient-background {
  background: var(--wp--preset--gradient--blush-light-purple) !important;
}
.has-blush-bordeaux-gradient-background {
  background: var(--wp--preset--gradient--blush-bordeaux) !important;
}
.has-luminous-dusk-gradient-background {
  background: var(--wp--preset--gradient--luminous-dusk) !important;
}
.has-pale-ocean-gradient-background {
  background: var(--wp--preset--gradient--pale-ocean) !important;
}
.has-electric-grass-gradient-background {
  background: var(--wp--preset--gradient--electric-grass) !important;
}
.has-midnight-gradient-background {
  background: var(--wp--preset--gradient--midnight) !important;
}
.has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}
.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}
.has-large-font-size {
  font-size: var(--wp--preset--font-size--large) !important;
}
.has-x-large-font-size {
  font-size: var(--wp--preset--font-size--x-large) !important;
}
.wp-block-navigation a:where(:not(.wp-element-button)) {
  color: inherit;
}
:where(.wp-block-post-template.is-layout-flex) {
  gap: 1.25em;
}
:where(.wp-block-post-template.is-layout-grid) {
  gap: 1.25em;
}
:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}
:where(.wp-block-columns.is-layout-grid) {
  gap: 2em;
}
.wp-block-pullquote {
  font-size: 1.5em;
  line-height: 1.6;
}

.wpcf7 .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  word-wrap: normal !important;
}

.wpcf7 form .wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
  display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
  border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
  position: relative;
}

.wpcf7-not-valid-tip {
  color: #dc3232; /* Red */
  font-size: 1em;
  font-weight: normal;
  display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
  position: relative;
  top: -2ex;
  left: 1em;
  z-index: 100;
  border: 1px solid #dc3232;
  background: #fff;
  padding: 0.2em 0.8em;
  width: 24em;
}

.wpcf7-list-item {
  display: inline-block;
  margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
  content: " ";
}

.wpcf7-spinner {
  visibility: hidden;
  display: inline-block;
  background-color: #23282d; /* Dark Gray 800 */
  opacity: 0.75;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 100%;
  padding: 0;
  margin: 0 24px;
  position: relative;
}

form.submitting .wpcf7-spinner {
  visibility: visible;
}

.wpcf7-spinner::before {
  content: "";
  position: absolute;
  background-color: #fbfbfc; /* Light Gray 100 */
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 100%;
  transform-origin: 8px 8px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
  .wpcf7-spinner::before {
    animation-name: blink;
    animation-duration: 2000ms;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.wpcf7 [inert] {
  opacity: 0.5;
}

.wpcf7 input[type="file"] {
  cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
  cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
  cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
  direction: ltr;
}

.wpcf7-reflection > output {
  display: list-item;
  list-style: none;
}

.wpcf7-reflection > output[hidden] {
  display: none;
}

/*================================================================ custom=================================================================


/*===================================home===================================*/
.why-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 47px;
}
.content-why {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 100px;
  width: 50%;
  text-align: right;
}
.why-item {
  margin-bottom: 10px;
}
.image-why {
  width: 50%;
}
/*===================================end home===================================*/

.footer2-top.pt-95 {
  margin-top: 76px;
  text-align: left;
}
.select-language select {
  border: 1px solid #ddd;
  width: 100px;
  padding-left: 10px;
  color: #6d6f71;
}
.select-language select option {
  color: #6d6f71;
}
.select-language select:focus-visible {
  outline: none;
}
.select-language {
  margin-left: 10px;
}
.select-language span {
  margin-bottom: -2px;
}
.footer-logo.footer-logo-3{
  text-align: center;
}
.section-title {
  opacity: 1;
}
.section-service .features__thumb {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}
.section-service .features__content {
  margin-top: -147px;
}
.features.bdevs-el .bdevs-el-desc{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}
.features.bdevs-el .bdevs-el-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-service .bdevs-el-btn {
  width: 116px;
  height: 38px;
  line-height: 45px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__thumb a {
  box-shadow: none;
  text-decoration: none;
  display: block;
  overflow: hidden;
  height: 152px;
}
.why-item {
display: flex;
align-items: center;
justify-content: start;
padding-left: 45%;
font-weight: 600;
}
.why-item .icon {
  width: 20px;
  display: inline-block;
  margin-top: -8px;
  margin-right: 10px;
}
.why-item .icon img {
  max-width: 100%;
}
.section-home {
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-promo {
  background-image: url('/images/wold-travel.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio .portfolio__main {
  overflow: hidden;
  padding-top: 39px;
  border-top: 1px dashed;
}

.portfolio .seed-section__title .title {
  margin-bottom: 10px;
}

.portfolio .portfolioFilter {
  margin-bottom: 25px;
  text-align: right;
}

.portfolio .portfolioFilter a {
  padding: 3px 15px;
  border-radius: 30px;
  color: #252525;
}

.portfolio .portfolioFilter a:hover {
  background-color: #a4935f;
  color: #fff;
}

.portfolio .portfolioFilter .current {
  background-color: #a4935f;
  color: #fff;
}

.portfolio .modal-content {
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: transparent;
  box-shadow: none;
  border: 0;
  position: absolute;
  width: 25%;
}

.portfolio .modal-content .modal-title {
  color: #fff;
}

.portfolio .portfolio__main {
  overflow: hidden;
  padding-top: 39px;
  border-top: 1px dashed;
}


@media (max-width: 992px) {
  .portfolio__item {
    width: 100%;
    margin-bottom: 30px;
  }
}

.portfolio__item .portfolio-content {
  width: 50%;
  padding: 6%;
}

@media (max-width: 992px) {
  .portfolio__item .portfolio-content {
    width: 100%;
  }
}

.portfolio__item .portfolio-content .title-image {
  font-size: 18px;
  text-transform: uppercase;
}

.portfolio__item .portfolio-content .text-content {
  color: #000;
}

.portfolio__item .portfolio-image {
  position: relative;
  width: 50%;
  overflow: hidden;
  z-index: 9;
}

@media (max-width: 992px) {
  .portfolio__item .portfolio-image {
    width: 100%;
  }
}

.portfolio__item .portfolio-image:hover .overlay {
  opacity: 1;
}

.portfolio__item .portfolio-image img {
  width: 100%;
}

.portfolio__item .portfolio-image .overlay {
  background-color: rgba(26, 29, 14, 0.5);
  bottom: -100px;
  opacity: 0;
  transition: .5s;
}

.portfolio__item .portfolio-image .portfolio__action {
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.portfolio__item .portfolio-image .portfolio__action a {
  padding: 5px;
  display: inline-block;
  transition: .5s;
}

.portfolio__item .portfolio-image .portfolio__action a:nth-child(1) {
  transition-delay: .1s;
}

.portfolio__item .portfolio-image .portfolio__action a img {
  width: auto;
  height: auto !important;
}

@media (max-width: 767px) {
  .portfolio__item {
    width: 100%;
  }
}

.portfolio__item--style1 .portfolio-image {
  float: left;
}

.portfolio__item--style1 .portfolio-content {
  float: right;
}

.portfolio__item--style2 .portfolio-content {
  float: left;
  text-align: right;
}

.portfolio__item--style2 .portfolio-image {
  margin: auto;
  float: right;
}

.fade.in {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-backdrop.in {
  display: none;
}

.close {
  float: none;
  font-size: 40px;
  color: #fff;
  opacity: 1;
  text-shadow: none;
}

.portfolio--style2 .portfolio__item {
  width: 100%;
}

.portfolio--style2 .seed-section__title .title {
  color: #333;
}
.contact-item a{
  display: flex;
}
.icon-contact{
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background: #ffffff;
  display: inline-block;
  font-size: 20px;
  color: #e48216;
  font-size: 22px;
}
.contact-page {
  margin-top: 50px;
}